Django>=5.0,<6.0
psycopg2-binary>=2.9
openpyxl>=3.1
boto3>=1.34          # SDK de AWS (funciona igual contra Floci)
django-storages>=1.14 # para conectar Django con S3
whitenoise>=6.7
gunicorn>=21.2
dj-database-url>=2.1
